/*引入icon*/
@font-face {font-family: 'iconfont';
    src: url('../icon/iconfont.eot'); /* IE9*/
    src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../icon/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../icon/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

/*正文开始*/

body{
    width: 1024px;
    margin: 0 auto;
    background-color: white;
}
a{
    text-decoration: blink;
    font-family:微软雅黑;
}
img{
    border-style:none;
}

/*头部*/

#header{
    width: 1024px;
    height: 116px;
    margin: 0 auto;
}
.linear{
    width:100%;
    height:110px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#dedfe1,endColorStr=#ffffff); /*IE 6 7 8*/
    background: -ms-linear-gradient(top, #dedfe1,  #ffffff);        /* IE 10 */
    background:-moz-linear-gradient(top,#dedfe1,#ffffff);/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#dedfe1), to(#ffffff));/*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dedfe1), to(#ffffff));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #dedfe1, #ffffff);   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #dedfe1, #ffffff);  /*Opera 11.10+*/
}
.linear2{
    width:100%;
    height:110px;
    FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=1,startColorStr=#0168b3,endColorStr=#43aefe); /*IE 6 7 8*/
    background: -ms-linear-gradient(left, #0168b3,  #43aefe);        /* IE 10 */
    background:-moz-linear-gradient(left,#0168b3,#43aefe);/*火狐*/
    background:-webkit-gradient(linear, 0% 100%, 0% 0%,from(#0168b3), to(#43aefe));/*谷歌*/
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#0168b3), to(#43aefe));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(left, #0168b3, #43aefe);   /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(left, #0168b3, #43aefe);  /*Opera 11.10+*/
}
.top-line{
    width: 100%;
    height: 6px;
    background-color: #0168b3;
}
#top-wall{
    width: 100%;
    height:110px;
}
#logo{
    margin: 0 50px;
    height: 100px;
    width: 830px;
    float: left;
}
.logo{
    float: left;
}
.logo-2{
    padding-top: 12px;;
}
.logo-3{
    margin-left: 160px;
    padding-top: 20px;
}
#rss{
    margin: 0 0;
    width: 9%;
    float: right;
}
.font-header-rss{
    font-size: 16px;
    color: #7a7a7c;
}
/*#rss a{*/
    /*text-align: right;*/
/*}*/
.font{
    color: white;
    text-align: center;
    font-size: 14px;
}
/*.banner2 a,#message a{*/
    /*line-height: 16px;*/
/*}*/

/*导航栏*/

#banner{
    width: 1024px;
    margin: 0;
    padding: 0;
}
#banner a{
    line-height: 36px;
    font-size: 16px;
}
#banner>ul{
    list-style-type: none;
    background-color: #0168b3;
    height: 36px;
    padding:0 30px;
    margin: 9px 0;
    /*overflow: hidden;*/
}
#banner ul>li{
    /*display:inline-block;*/
    float: left;
    line-height: 36px;
    text-align: center;
    /*overflow: hidden;*/
    position: relative;
    padding: 0;
    /*margin-left: -4px;*/
    /*margin-bottom: -2px;*/
}
#banner ul li:hover{
    background-color: #43aefe;
}
#content{
    width: 1000px;
    padding: 0 24px 24px 24px;
}
#content .unslider{
    width: 100%;
}
.li{
    width: 100px;
    padding: 0 5px;
}
.ili{
    width: 1px;
}
.pull-down{
    display:none ;
    list-style-type: none;
    background-color: #0168b3;
    height: 36px;
    padding: 0;
}
.pull-down a{
    color: white;
    font-size: 14px;
}
.pull-down li{
    background-color:#0168b3;
    text-align: center;
    width: 100px;
    padding: 0 5px;
}
.banner>li:hover .pull-down{
    display:block;
    position: absolute;
    z-index: 10;
}

/*轮播图*/

#slide{
    width:976px;
    height: 180px;
    position: relative;
}
.ban{
    position: relative;
    overflow: auto;
}
.ban li{
    list-style: none;
}
.ban ul li{
    float: left;
}
#slide a{
    padding:70px 0;
    margin: 0 -20px;
}

/*次导航*/

#banner2{
    width: 1000px;
    margin: 0;
    padding: 0;
}
#banner2 ul{
    list-style-type: none;
    padding: 0;
    /*background-color: #0168b3;*/
    /*padding:15px 30px;*/
}
#banner2 ul li{
    display:inline-block;
    width: 100px;
    text-align: center;
    line-height: 12px;
    background-image: url(../images/menu.jpg);
    background-repeat: no-repeat;
    margin: 5px 12px 5px 0;
    /*margin-right: 20px;*/
    padding: 3px 0px;
}

/*内容*/

#content-inside{
    width: 100%;
}

/*通知公告*/

#message{
    width: 630px;
    height: 240px;
    /*height: 100%;*/
    /*margin-right:10px;*/
    /*padding-right: 10px;*/
    border-right-style: groove;
    border-right-width: 1px;
    border-color: #e4e4e4;

    float: left;
}
#bar{
    line-height: 12px;
    width:620px;
    padding: 10px 0 10px 10px ;
    height: auto;
}
#bar i{
    color: white;

}
#message ul{
    padding-left: 20px;
}
#message ul li{
    line-height: 12px;
    list-style-type: square;
    color: #f38e02;
}
#message p,#message p>a{
    line-height: 14px;
    color: black;
    font-size: 14px;
}

/*领导寄语*/

#boss-remarks{
    width: 340px;
    margin: 0 10px;
    float: left;
}
.remarks-content{

}
.remarks-top{
    padding:15px 10px 0px 3px;
    width: 100%;
}
.font-remarks-top{
    color: #0369b4;
    font-size: 18px;
}
.remarks-center{
    padding:15px 0 0 0;
}
.font-remarks{
    line-height: 25px;
    font-size: 15px;
    color: black;
}
.remarks-footer{
    padding: 5px 0px 5px 5px;
    text-align: center;
}
.font-remarks-foot{
    font-size: 30px;
    color: #f0f0f0;
}

/*手风琴墙*/

#content-wall{
    width:980px;
    float:left;
    position: relative;
}
/*#content-wall a{*/
    /*line-height: 12px;*/
/*}*/
#content-wall ul{
    list-style-type: none;
    padding: 0 ;
    overflow: hidden;
}
#content-wall>ul>li{
    display:inline-block;
    overflow: hidden;
}
.slide-content{
    padding: 0;
    width: 37px;
    height: 300px;
    border-style: groove;
    border-width: 1px;
    border-color: #e4e4e4;
    overflow: hidden;
}
.slide-left{
    width: 19px;
    height: 290px;
    padding: 10px 8px 0 8px;
    float: left;
    background-color: #fafafa;
}
.slide-left a{
    /*line-height: 12px;*/
    font-size: 18px;
    color: #1a75bb;
}
.slide-right{
    /*display: block;*/
    width: 800px;
    float: left;
}
.slide-image{
    width: 460px;
    height: 300px;
    float: left;
}
.slide-news{
    width: 340px;
    height: 300px;
    float: left;
}
.slide-news ul li{

    line-height: 16px;
    border-color: #e4e4e4;
    border-bottom-style: groove;
    border-width: 1px;
    padding: 6px;
}
.slide-news ul li:hover{
    background-color: #f1f1f1;
}
/*.slide-news ul a{*/
    /*font-size: 12px;*/
/*}*/
.slide-news a{
    font-size: 14px;
    text-align: right;
    color: black;
}
.slide-news ul li a{
    color: black;
}

/*页脚*/

#footer{
    width: 814px;
    float: left;
    padding-left: 210px;
    background-color: #0168b3;
    margin-top: 27px;
}
.f-icon{
    float: left;
    width: 100%;
    margin-top:-27px;
    position: relative;
    z-index: 10;
}
/*.f-icon-i{*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*text-align: center;*/
/*}*/
.f-icon-c{
    background-color: white;
    width:55px;
    height:55px;
    /*border-radius:50px;*/
    border:solid rgb(100,100,100) 0px;;
    float: left;
    text-align: center;
}
.radius{
    -moz-border-radius: 50px; /* Firefox */
    -webkit-border-radius: 50px; /* Safari 和 Chrome */
    border-radius: 500px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */

    /*-moz-box-shadow: 10px 10px 20px #000; !* Firefox *!*/
    /*-webkit-box-shadow: 10px 10px 20px #000; !* Safari 和 Chrome *!*/
    /*box-shadow: 10px 10px 20px #000; !* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 *!*/

    behavior: url(ie-css3.htc); /* 通知IE浏览器调用脚本作用于'radius'类 */
}
.f-icon-c i{
    color: #0168b3;
}
.l{
    margin:0 144px;
}
.l i{
    font-size: 46px;
}
.r{
    margin:0 153px;
}
.r i{
    font-size: 50px;
}
.f-left{
    width: 350px;
    float: left;
    padding: 1em;
}
.f-left p{
    line-height:25px;
}
.f-right{
    width: 400px;
    float: left;
}
.img-more{
    height:auto;
    float: right;
    margin-right: 20px;
}
.link{
    padding:2em;
}